#loading {
  height: 100vh;
  z-index: 999999;
}

#navbar {
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  text-shadow: 1px 2px 5px rgba(0,0,0,.2);
}

#overlay {
  background: rgba(0,0,0,.2);
  text-shadow: 1px 2px 5px rgba(0,0,0,.1);
}

#main {
  text-shadow: 1px 2px 5px rgba(0,0,0,.3);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}